parameters:
  level: 5
  paths:
    - src/Support/Bootstrap.php
    - src/Api/index.php
    - bin/flush.php
    - src
  excludePaths:
    - legacy
  ignoreErrors:
    - '#Undefined variable: stats#'
  checkMissingIterableValueType: false
  reportUnmatchedIgnoredErrors: true
