<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/bootstrap.php" cacheResult="false">
    <testsuites>
        <testsuite name="Renote Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="false">
        <include>
            <file>src/Support/Bootstrap.php</file>
            <file>src/Api/index.php</file>
            <file>bin/flush.php</file>
        </include>
    </coverage>
</phpunit>

